doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    script
      | document.write("<base href='" + document.location + "' />");
    title Blog
    link(rel="stylesheet", href="/css/app.css")
    link(href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css",rel="stylesheet",type="text/css")
    link(href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic",rel="stylesheet",type="text/css")
    link(href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800",rel="stylesheet",type="text/css")

    body
    block content

    include footer

    script(src="https://code.jquery.com/jquery-2.2.0.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js",integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS",crossorigin="anonymous")
    script(src="/angular2/bundles/angular2-polyfills.js")
    script(src="/systemjs/dist/system.src.js")
    script(src="/rxjs/bundles/Rx.js")
    script(src="/angular2/bundles/angular2.dev.js")
    script(src="/angular2/bundles/router.dev.js")
    script(src="/angular2/bundles/http.dev.js")

    script
      | System.defaultJSExtensions = true;
      | System.import("js/app/boot").then(null, console.error.bind(console));