<header class="intro-header" style="background-image: url('images/post-bg.jpg')">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="post-heading">
					<h1>Create New Article</h1>
				</div>
			</div>
		</div>
	</div>
</header>

<div class="container">
	<form #newArticleForm="ngForm">
		<div class="row control-group">
			<div class="form-group floating-label-form-group"
				 [ngClass]="{'has-success':!newArticleForm.pristine && !title.errors,
			 'has-error':!newArticleForm.pristine && title.errors}">
				<label for="input1" class="control-label">Title</label>
				<input type="text" class="form-control" id="input1" placeholder="Title" required
					   aria-describedby="helpBlock1"
					   ngControl="title" #title="ngForm">
			<span *ngIf="!newArticleForm.pristine && title.errors?.required" class="help-block" id="helpBlock1">
				This field is required
			</span>
			</div>
		</div>
		<div class="row control-group">
			<div class="form-group floating-label-form-group"
				 [ngClass]="{'has-success':!newArticleForm.pristine && !subtitle.errors,
			 'has-error':!newArticleForm.pristine && subtitle.errors}">
				<label for="input2" class="control-label">Subtitle</label>
				<input type="text" class="form-control" id="input2" placeholder="Subtitle" required
					   aria-describedby="helpBlock2"
					   ngControl="subtitle" #subtitle="ngForm">
			<span *ngIf="!newArticleForm.pristine && subtitle.errors?.required" class="help-block" id="helpBlock2">
				This field is required
			</span>
			</div>
		</div>
		<div class="row control-group">
			<div class="form-group floating-label-form-group"
				 [ngClass]="{'has-success':!newArticleForm.pristine && !content.errors,
			 'has-error':!newArticleForm.pristine && content.errors}">
				<label for="input3" class="control-label">Content</label>
			<textarea class="form-control" id="input3" placeholder="Content" rows="10" required
					  aria-describedby="helpBlock3"
					  ngControl="content" #content="ngForm"></textarea>
			<span *ngIf="!newArticleForm.pristine && content.errors?.required" class="help-block" id="helpBlock3">
				This field is required
			</span>
			</div>
		</div>

		<br/>

		<button type="button" class="btn btn-primary pull-right" (click)="save(newArticleForm.value)"
				[disabled]="!newArticleForm.valid || newArticleForm.pristine">Save
		</button>
	</form>
</div>