<template [ngIf]="!isAuthorized">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
	<ul id="login-dp" class="dropdown-menu">
		<li>
			Login via
			<div class="social-buttons">
				<a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
				<a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
			</div>
			or
			<form class="form" role="form" id="login-nav" #user>
				<div class="form-group">
					<label class="sr-only" for="exampleInputEmail2">Username</label>
					<input type="text" class="form-control" id="exampleInputEmail2" [(ngModel)]="user.username"
						   placeholder="Username" required>
				</div>
				<div class="form-group">
					<label class="sr-only" for="exampleInputPassword2">Password</label>
					<input type="password" class="form-control" id="exampleInputPassword2"
						   placeholder="Password" required [(ngModel)]="user.password">
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-block" (click)="login($event, user)">Sign in
					</button>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" [(ngModel)]="user.rememberMe"> keep me logged-in
					</label>
				</div>
			</form>
		</li>
	</ul>
</template>
<template [ngIf]="isAuthorized && user">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>{{user.username}}</b> <span class="caret"></span></a>
	<ul class="dropdown-menu">
		<li>
			<a [routerLink]="['Profile',{id: user._id}]">
				<i class="glyphicon glyphicon-user"></i>
				Edit Profile
			</a>
		</li>
		<li>
			<a href="#">My Articles</a>
		</li>
		<li role="separator" class="divider"></li>
		<li>
			<a href="#" (click)="logout($event)">
				<i class="glyphicon glyphicon-log-out"></i>
				Log Out
			</a>
		</li>
	</ul>
</template>