<div *ngIf="profile" class="profile">
	<header class="intro-header" style="background-image: url('images/post-bg.jpg')">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<div class="post-heading">
						<h1>User profile</h1>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div class="container">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-4 text-center">
						<img class="img-circle avatar avatar-original" style="-webkit-user-select:none;
              display:block; margin:auto;" src="http://robohash.org/sitsequiquia.png?size=120x120">
					</div>
					<div class="col-md-8">
						<div class="col-md-12">
							<h1 class="only-bottom-margin">{{profile.username}}</h1>
						</div>
						<template [ngIf]="!editMode">
							<div class="col-md-6">
								<span class="text-muted">Email:</span> {{profile.email}}<br>
								<span class="text-muted">Birth date:</span> {{profile.birthday|dateString:"yMMMMd"}}<br>
								<span class="text-muted">Gender:</span> {{profile.gender}}<br><br>
								<small class="text-muted">Created: {{profile.created | dateString:"yMMMMd"}}</small>
							</div>
							<div class="col-md-6">
								About:
								<p>
									{{profile.about}}
								</p>
							</div>
						</template>
						<template [ngIf]="editMode && canEdit">
							<form role="form">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="input1">Email address</label>
											<input type="email" class="form-control" id="input1" placeholder="Email"
												   [(ngModel)]="editProfile.email">
										</div>
										<div class="form-group">
											<label for="input2">Birth day</label>
											<input type="text" class="form-control" id="input2"
												   placeholder="Birth day"
												   [(ngModel)]="editProfile.birthday">
										</div>
										<div class="form-group">
											<label for="input3">Gender</label>
											<select id="input3" class="form-control"
													[(ngModel)]="editProfile.gender">
												<option value="">Select Gender</option>
												<option value="female">female</option>
												<option value="male">male</option>
												<option value="superhero">superhero</option>
											</select>
										</div>
									</div>
									<div class="col-md-6">
										<label for="input4">About</label>
											<textarea id="input4" class="form-control" rows="5" placeholder="About"
													  [(ngModel)]="editProfile.about"></textarea>
									</div>
								</div>
							</form>
						</template>
					</div>
				</div>
				<div class="row" *ngIf="canEdit">
					<div class="col-md-12">
						<hr>
						<button class="btn btn-default pull-right" (click)="edit()" *ngIf="!editMode"><i
								class="glyphicon glyphicon-pencil"></i> Edit
						</button>
						<button class="btn btn-danger pull-right" (click)="remove()" *ngIf="!editMode"><i
								class="glyphicon glyphicon-remove"></i> Remove
						</button>

						<button type="submit" class="btn btn-primary pull-right" (click)="save()" *ngIf="editMode">Save</button>
						<button type="submit" class="btn btn-default pull-right" (click)="cancel()" *ngIf="editMode">Cancel
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>