<template [ngIf]="article">
	<header class="intro-header" style="background-image: url('../../../images/post-bg.jpg')">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<div class="post-heading">
						<h1>{{article.title}}</h1>
						<h2 class="subheading" *ngIf="article.subtitle">{{article.subtitle}}</h2>
						<span class="meta">Posted by <a [routerLink]="['Profile', {id:article._owner._id}]">{{article._owner.username}}</a> on {{article.created | dateString:"yMMMMd"}}</span>
						<br>
						<p *ngIf="article.rating">Article rating {{article.rating?.value | number: '1.0-1'}}/10, with
							{{article.rating?.count}} votes.</p>

						<input *ngIf="isAuthorized" type="number" class="rating"
							   data-min="1"
							   data-max="10"
							   data-stars="10"
							   data-show-clear="false"
							   data-size="xs"
							   data-show-caption="false"
							   [article]="article"
							   (changed)="onRatingChanged($event)"/>
					</div>
					<div class="row">
						<h3 *ngIf="canEdit" class="pull-left">
							<edit-article [article]="article" (updated)="onArticleUpdated($event)"></edit-article>
						</h3>

						<h3 *ngIf="canEdit" class="pull-right">
							<a class="article__remove-link" (click)="remove()">
								<i class="glyphicon glyphicon-remove"></i>
							</a>
						</h3>
					</div>
				</div>
			</div>
		</div>
	</header>

	<article>
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-lg-offset-1" [innerHTML]="article.content">
				</div>
			</div>

			<hr>
			<socket-io-comments (onUpdate)="getComments($event)"></socket-io-comments>

			<h3>Comments:</h3>
			<hr>
			<div class="comments" *ngIf="article.comments?.length>0">
				<template ngFor #comment [ngForOf]="article.comments">
					<div class="media comment" [comment]="comment"
						 (removed)="onCommentRemoved(comment)"></div>
				</template>
				<hr>
			</div>
			<p *ngIf="!article.comments||article.comments.length==0">There is no comments yet.</p>

			<add-comment [articleId]="article._id" (onAdded)="onCommentAdded($event)"></add-comment>
		</div>
	</article>
</template>