.article {
  &__edit {
    &-link {
      cursor: pointer;
      color: white;

      &:hover, &:focus {
        color: $brand-primary;
      }
    }
  }

  &__remove {
    &-link {
      cursor: pointer;
      color: white;

      &:hover, &:focus {
        color: $brand-danger;
      }
    }
  }
}

article:last-of-type {
  hr {
    display: none;
  }
}